<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgCwvDtExmZzbDSJj3Gw12_0X63UDL8RI</string>
	<key>GCM_SENDER_ID</key>
	<string>358026266834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ka.Dardesh</string>
	<key>PROJECT_ID</key>
	<string>dardesh-c317c</string>
	<key>STORAGE_BUCKET</key>
	<string>dardesh-c317c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358026266834:ios:9375d1c0deae45ac61050b</string>
</dict>
</plist>